@import url(https://quik-ui.netlify.app/style.css);

@import url(./styles/home.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-200: #f5f5f5;
  --gray-300: #eeeeee;
  --primary: #0e161a;
  --secondary-color: #ff3b3b;
  --secondary-light: hsla(0, 100%, 62%, 0.8);
  --blue: #0a66c2;
}

.q-main-container {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.q-nav {
  width: 100%;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--white);
}

.q-logo {
  color: var(--secondary-color);
}

.q-search-container span {
  color: var(--gray-color);
  font-weight: 400;
  left: var(--spacing-1);
}

.q-search-container .input {
  width: 35rem;
  padding-left: var(--spacing-3);
  border-radius: 5px;
  border-color: var(--primary);
}

.q-nav-options > *:not(:nth-child(1)) {
  margin-left: var(--spacing-2);
}

.q-nav-options .q-nav-login {
  background-color: var(--secondary-light);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: 5px;
  padding: 0.8rem 2.2rem;
}

.q-nav-options .q-nav-login:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.q-nav-options .badge {
  background-color: var(--gray-200);
  color: var(--secondary-color);
  cursor: pointer;
}

.q-nav-options .badge .badge-icon {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 988px) {
  .q-search-container {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .q-nav {
    padding: 0.5rem var(--spacing-1);
  }

  .q-logo {
    font-size: 0.75rem;
  }

  .q-nav-options .badge-icon-container {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }

  .q-nav-options .badge-icon {
    font-size: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .q-nav-options .q-nav-login {
    padding: 0.5rem 1.2rem;
  }
}
